version: '1'
services:
  api:
    image: best-movies-api
    platform: linux/amd64
    build: .
    networks:
      - backend
    ports:
      - "3000:3000"
    volumes:
      - ./:/opt/api
    restart: always
  # database:
  #   image: postgres:latest
  #   networks:
  #     - database
  #   ports:
  #     - 5432:5432
  #   expose:
  #     - 5432
  #   env_file:
  #     - .env
  #   volumes:
  #    - ./db:/var/lib/postgresql/data
  #    - ./init.sql:/docker-entrypoint-initdb.d/init.sql
  #   restart: always      

networks:
  backend:
    driver: bridge
  # database:
  #   driver: bridge
